/* style.qss */

/* 전체적인 기본 스타일 */
QWidget {
    background-color: #2c313c;
    color: #c5c5c5;
    border: none;
    font-size: 10pt;
    font-family: "Segoe UI";
}

/* 버튼 기본 스타일 */
QPushButton {
    background-color: #343b48;
    border-radius: 5px;
    padding: 8px;
}
QPushButton:hover {
    background-color: #3d4554;
}
QPushButton:pressed {
    background-color: #2c313c;
}

/* 특정 버튼(objectName이 btn_search일 경우) 스타일 */
QPushButton#btn_search {
    background-color: #568af2;
    color: #ffffff;
    font-weight: bold;
}
QPushButton#btn_search:hover {
    background-color: #6a9cff;
}


/* 입력창 스타일 */
QLineEdit {
    background-color: #2c313c;
    border: 2px solid #343b48;
    border-radius: 8px;
    padding: 8px;
}
QLineEdit:focus {
    border: 2px solid #568af2;
}

/* 테이블 뷰 스타일 */
QTableView {
    background-color: #2c313c;
    gridline-color: #444a59;
    border-radius: 10px;
}
QHeaderView::section {
    background-color: #343b48;
    padding: 5px;
    border: 1px solid #444a59;
}